{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Imagen de autos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit asperiores soluta corrupti delectus eius a dolore fuga! Consectetur optio magni possimus corporis pariatur alias repellendus reiciendis assumenda, saepe iusto accusantium!</p>
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
  <img src="assets/img/carros.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
        
    </div>
</div>



{{> footer }}
